<app-post-form
  (onAddPost)="postService.addNewPost($event)">
</app-post-form>

<app-post-filter (searchEvent)="searchEventHandler($event)"></app-post-filter>

<div>
  <app-post-item
    *ngFor="let post of postService.posts | filterPost:filterValue"
    [post]="post"
    (onRemove)="postService.deletePost($event)">
    <div #Content>
      <div *ngIf="post.text.length > 10; else postShort">Пост длинный</div>
      <ng-template #postShort>
        <div>Пост короткий</div>
      </ng-template>
    </div>
  </app-post-item>
</div>
