<mat-toolbar>
  <span>My learn app.</span>
  <button mat-raised-button (click)="matSidenav.toggle()">Left menu toggle!</button>
</mat-toolbar>

<mat-sidenav-container [ngStyle]="{ 'height': 'calc(100vh - 64px)'}">

  <mat-sidenav mode="side" class="main-navigation" #matSidenav>
    <mat-nav-list role="list">
      <a mat-list-item routerLink="" routerLinkActive="main-navigation_active">Start page</a>
      <a mat-list-item routerLink="/basis" routerLinkActive="main-navigation_active"
         [routerLinkActiveOptions]="{exact:true}">basis</a>
      <a mat-list-item routerLink="/service" routerLinkActive="main-navigation_active">service</a>
      <a mat-list-item href="#" routerLinkActive="main-navigation_active">Item 3</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content appWatchScroll (scrolled)="scrollEvent($event)" class="scroll_customization">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
