<mat-toolbar>
  <span>My lean app.</span>
  <button mat-raised-button (click)="matSidenav.toggle()">Left menu toggle!</button>
</mat-toolbar>

<mat-sidenav-container [ngStyle]="{ 'height': 'calc(100vh - 64px)'}">

  <mat-sidenav mode="side" class="main-navigation" #matSidenav>
    <mat-nav-list role="list">
      <a mat-list-item href="#">Item 1</a>
      <a mat-list-item href="#">Item 2</a>
      <a mat-list-item href="#">Item 3</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content appWatchScroll (scrolled)="scrollEvent($event)" class="scroll_customization">
    <app-post-form
      (onAddPost)="addNewPost($event)">
    </app-post-form>

    <div>
      <app-post
        *ngFor="let post of posts"
        [post]="post"
        (onRemove)="deletePost($event)">
        <div #Content>
          <div *ngIf="post.text.length > 10; else postShort">Пост длинный</div>
          <ng-template #postShort>
            <div>Пост короткий</div>
          </ng-template>
        </div>
      </app-post>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
